@using Microsoft.AspNetCore.Identity
@using BusLine.Models
@inject SignInManager<BusLineUser> SignInManager
@inject UserManager<BusLineUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">สวัสดีคุณ @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</a>
            </li>
			<li>
				<a href="/BookingAdmin"> จองตั๋ว </a>
			</li>
			<li>
				<a href="/FromPtAdmin"> สถานีต้นทาง </a>
			</li>
			<li>
				<a href="/ToPtAdmin"> สถานีปลายทาง </a>
			</li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">ออกจากระบบ</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">สมัครสมาชิก</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">เข้าสู่ระบบ</a></li>
    </ul>
}
