@page
@model BusLine.Pages.ToPtAdmin.CreateModel

@{
    ViewData["Title"] = "เพิ่มสถานีปลายทาง";
}

<h2>เพิ่มสถานีปลายทาง</h2>

<h4>กรอกข้อมูลดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
				ชื่อสถานี
                <input asp-for="ToPoint.ToStation" class="form-control" />
                <span asp-validation-for="ToPoint.ToStation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
