@page
@model BusLine.Pages.ToPtAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดสถานี";
}

<h2>รายละเอียดสถานี</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
			ชื่อสถานี
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToPoint.ToStation)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ToPoint.ToPointID">แก้ไขข้อมูล</a> |
    <a asp-page="./Index">Back to List</a>
</div>
