@page
@model BusLine.Pages.ToPtAdmin.IndexModel

@{
    ViewData["Title"] = "สถานีปลายทาง";
}

<h2>สถานีปลายทาง</h2>

<p>
    <a asp-page="Create">เพิ่มสถานีปลายทาง</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
				ชื่อสถานี
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToPoint) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToStation)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ToPointID">แก้ไขข้อมูล</a> |
                <a asp-page="./Details" asp-route-id="@item.ToPointID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.ToPointID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
