﻿@page
@model ContactModel
@{
    ViewData["Title"] = "ติดต่อเราได้ที่";
}
<h2>@ViewData["Title"]</h2>
<h3>บขส.หาดใหญ่</h3>

<address>
	73 ถนนโชติวิทยะกุล<br />
	ตำบล หาดใหญ่ อำเภอหาดใหญ่<br />
	สงขลา 90110<br />
</address>

<address>
    <strong>ศูนย์บริการลูกค้า:</strong> <a href="mailto:Support@BusLine.in.th">Support@BusLine.in.th</a><br />
    <strong>โทรศัพท์:</strong> <a>074-226699</a>
</address>
