﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

<div class="jumbotron">
    <center><h2>ระบบจองตั๋วรถบัสออนไลน์ขนส่งหาดใหญ่</h2><center>
</div>

<marquee >===== ขนส่งหาดใหญ่ ยินดีต้อนรับ =====</marquee>

<div class="containner">
  <footer class="border-top footer text-muted">
      <div style="text-align:center">
    <h4>=========ตารางเวลาการเดินรถสาธารณะแต่ละเส้นทาง==========</h4>
      </div>
  </footer>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="~/images/yala.jpg" class="img-thumbnail" alt="Chania">
    </div>
    <div class="col-sm-4">
      <img src="~/images/nakhon.jpg" class="img-thumbnail" alt="Cinque Terre">
    </div>
    <div class="col-sm-4">
      <img src="~/images/patlung.jpg" class="img-thumbnail" alt="Cinque Terre">
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col-sm-4">
      <img src="~/images/pattani.jpg" class="img-thumbnail" alt="Cinque Terre">
    </div>
    <div class="col-sm-4">
      <img src="~/images/naratiwat.jpg" class="img-thumbnail" alt="Cinque Terre">
    </div>
   </div> 

</div>