@page
@model BusLine.Pages.FromPtAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไขข้อมูล";
}

<h2>แก้ไขข้อมูล</h2>

<h4>กรอกข้อมูลดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FromPoint.FromPointID" />
            <div class="form-group">
				ชื่อสถานี
                <input asp-for="FromPoint.FromStation" class="form-control" />
                <span asp-validation-for="FromPoint.FromStation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
