@page
@model BusLine.Pages.FromPtAdmin.IndexModel

@{
    ViewData["Title"] = "สถานีต้นทาง";
}

<h2>สถานีต้นทาง</h2>

<p>
    <a asp-page="Create">เพิ่มสถานีต้นทาง</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
				ชื่อสถานี
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FromPoint) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromStation)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FromPointID">แก้ไขข้อมูล</a> |
                <a asp-page="./Details" asp-route-id="@item.FromPointID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.FromPointID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
