@page
@model BusLine.Pages.BookingAdmin.DeleteModel

@{
    ViewData["Title"] = "คืนตั๋ว";
}

<h2>คืนตั๋ว</h2>

<h3></h3>
<div>
    <h4>รายละเอียดการจอง</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
			สถานีต้นทาง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.FromSt.FromStation)
        </dd>
        <dt>
			สถานีปลายทาง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.ToSt.ToStation)
        </dd>
        <dt>
			วันออกเดินทาง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.DapartureDate)
        </dd>
        <dt>
			จำนวนที่นั่ง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.SeatNumber)
        </dd>
        <dt>
			เดินทางด้วยรถ-ราคา/ที่นั่ง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.CarType)
        </dd>
        <dt>
			ผู้จอง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.postUser.FirstName) @Html.DisplayFor(model => model.Booking.postUser.LastName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Booking.BookingId" />
        <input type="submit" value="คืนตั๋ว" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
