@page
@using Microsoft.AspNetCore.Identity
@using BusLine.Models

@model BusLine.Pages.BookingAdmin.DetailsModel
@inject SignInManager<BusLineUser> SignInManager
@inject UserManager<BusLineUser> UserManager

@{
    ViewData["Title"] = "รายละเอียดการจอง";
}

<h2>รายละเอียดการจอง</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
			สถานีต้นทาง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.FromSt.FromStation)
        </dd>
        <dt>
			สถานีปลายทาง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.ToSt.ToStation)
        </dd>
        <dt>
			วันออกเดินทาง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.DapartureDate)
        </dd>
        <dt>
			จำนวนที่นั่ง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.SeatNumber)
        </dd>
        <dt>
			เดินทางด้วยรถ-ราคา/ที่นั่ง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.CarType)
        </dd>
        <dt>
			ผู้จอง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.postUser.FirstName) @Html.DisplayFor(model => model.Booking.postUser.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking.BookingId">แก้ไขข้อมูลการจอง</a> |
    <a asp-page="./Index">Back to List</a>
</div>
