@page
@using Microsoft.AspNetCore.Identity
@using BusLine.Models

@model BusLine.Pages.BookingAdmin.EditModel
@inject SignInManager<BusLineUser> SignInManager
@inject UserManager<BusLineUser> UserManager

@{
    ViewData["Title"] = "เลื่อนตั๋ว";
}

<h2>เลื่อนตั๋ว</h2>

<h4>กรอกข้อมูลดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.BookingId" />
            <div class="form-group">
				สถานีต้นทาง
                <select asp-for="Booking.FromPointID" class="form-control" asp-items="ViewBag.FromPointID"></select>
                <span asp-validation-for="Booking.FromPointID" class="text-danger"></span>
            </div>
            <div class="form-group">
				สถานีปลายทาง
                <select asp-for="Booking.ToPointID" class="form-control" asp-items="ViewBag.ToPointID"></select>
                <span asp-validation-for="Booking.ToPointID" class="text-danger"></span>
            </div>
            <div class="form-group">
				วันออกเดินทาง
                <input asp-for="Booking.DapartureDate" class="form-control" />
                <span asp-validation-for="Booking.DapartureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
				จำนวนที่นั่ง
                <input asp-for="Booking.SeatNumber" class="form-control" />
                <span asp-validation-for="Booking.SeatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
				เดินทางด้วยรถ-ราคา/ที่นั่ง
                <select asp-for="Booking.CarType" class="form-control" >
					<option value="รถทัวร์  250บาท/คน">รถทัวร์  250บาท/คน</option>
					<option value="รถมินิบัส  150บาท/คน">รถมินิบัส  150บาท/คน</option>
					<option value="รถตู้  100บาท/คน">รถตู้  100บาท/คน</option>
				</select>
                <span asp-validation-for="Booking.CarType" class="text-danger"></span>
            </div>
            <div class="form-group">
				ผู้จอง @UserManager.GetUserName(User);
                <input asp-for="Booking.BusLineUserID" type="hidden" value="@UserManager.GetUserId(User)" />
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
