@page
@model BusLine.Pages.BookingAdmin.IndexModel

@{
    ViewData["Title"] = "รายการจองทั้งหมด";
}

<h2>ระบบจองตั๋ว</h2>

<p>
    <a asp-page="Create">จองตั๋ว</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
				สถานีต้นทาง
            </th>
            <th>
				สถานีปลายทาง
            </th>
            <th>
				วันออกเดินทาง
            </th>
            <th>
				จำนวนที่นั่ง
            </th>
            <th>
				เดินทางด้วยรถ-ราคา/ที่นั่ง
            </th>
            <th>
				ผู้จอง
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromSt.FromStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToSt.ToStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DapartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.FirstName) @Html.DisplayFor(modelItem => item.postUser.LastName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookingId">เลื่อนตั๋ว</a> |
                <a asp-page="./Details" asp-route-id="@item.BookingId">รายละเอียดการจอง</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookingId">คืนตั๋ว</a>
            </td>
        </tr>
}
    </tbody>
</table>
